<a href="https://colab.research.google.com/github/JasminKocher/DataScienceFundamentals/blob/main/02_Intro_Pandas_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Pandas and Numpy


Python has several built-in types of data structures such as lists and dictionaries, but none of them allows you to efficiently do computations on large lists or tables of data. The Numpy and Pandas libraries fill this gap by providing 1) specific data structures on which one can efficiently compute and 2) functions to perform the computations on these structures.

Numpy is the core scientific computing library on which virtually all other scientific Python packages are building (except for deep learning libraries). This includes notably Scipy, a package offering numerical routines for optimization, regression etc. that will be used in the last series of lectures.

Pandas, which itself builds on top of Numpy, is the core data science library on which higher level libraries (e.g. for plotting) are building. 

Here we briefly present the main data structure offered by Pandas, the **DataFrame** and then show how the data in DataFrames are actually **arrays**, the main data structure of Numpy. This allows us in the next notebooks to explore Numpy before coming back at the end of the course to Pandas.

Let's first import both Pandas and Numpy. Both have very commonly used abbreviations ```np``` and ```pd``` that you should use as well to simplify your life. Note that most sub-modules are directly accessible and you won't have to import specific ones as migth be the case for other libraries.

In [2]:
import pandas as pd
import numpy as np

## Importing data

Just like any other library, Pandas offers functionality through the *dot-notation* (as e.g. in ```math.cos()```). When surveying usage of Pandas in places like GitHub, it turns out that the most used function is the one allowing one to import a CSV (comma-separated values). Indeed while we could import tabular data with the ```read``` function, this becomes quickly cumbersome for complex data and Pandas takes care of all details for us.

### read_*** functions

As an example we import here the file available [here](https://github.com/KingaS03/Introduction-to-Python/blob/master/Homework/country_vaccinations.xls). If we look at the file we see that even though it has an .xls extension, it is in fact just a CSV file. Pandas has many importing functions and we use here ```read_csv```. You can see the list of all available importers by typing ```pd.read_``` and seeing options from autocomplete.

We can either download the file and indicate the file path or directly *read* it from the web (*Note that on GitHub you need to use the [raw](https://raw.githubusercontent.com/KingaS03/Introduction-to-Python/master/Homework/country_vaccinations.xls) version of the file to download it*)

```
url = 'https://raw.githubusercontent.com/KingaS03/Introduction-to-Python/master/Homework/country_vaccinations.xls'
vaccine = pd.read_csv(url)
```

In [3]:
url = 'https://raw.githubusercontent.com/KingaS03/Introduction-to-Python/master/Homework/country_vaccinations.xls'
vaccine = pd.read_csv(url)

Let's first see what this object is:

```
type(vaccine)
```

In [4]:
type(vaccine)

pandas.core.frame.DataFrame

We see that we are dealing with a DataFrame, the two-dimensional data structure offered by Pandas. If we just execute a cell with that variable we can display the first lines:

```
vaccine
```

In [5]:
vaccine

      country  ...                                     source_website
0     Albania  ...  https://shendetesia.gov.al/covid19-ministria-e...
1     Albania  ...  https://shendetesia.gov.al/covid19-ministria-e...
2     Albania  ...  https://shendetesia.gov.al/covid19-ministria-e...
3     Albania  ...  https://shendetesia.gov.al/covid19-ministria-e...
4     Albania  ...  https://shendetesia.gov.al/covid19-ministria-e...
...       ...  ...                                                ...
3614    Wales  ...  https://coronavirus.data.gov.uk/details/health...
3615    Wales  ...  https://coronavirus.data.gov.uk/details/health...
3616    Wales  ...  https://coronavirus.data.gov.uk/details/health...
3617    Wales  ...  https://coronavirus.data.gov.uk/details/health...
3618    Wales  ...  https://coronavirus.data.gov.uk/details/health...

[3619 rows x 15 columns]

We see that we are dealing with tabular data of various types: we have text (e.g. countries), dates and numbers. Just like in a tabular sheet, each column has a label and each line has an index (column in bold on the left), so that every element can be located with these *coordinates*.

## Methods attached to dataframes

We have seen before that every variable in Python has a series of functions attached to it (methods). For example if we have a text variable (string) we can e.g. split it at a given place:

```
my_string = 'This is a sentence with spaces.'
my_string.split(' ')
```

In [6]:
my_string = 'This is a sentence with spaces.'
my_string.split(' ')

['This', 'is', 'a', 'sentence', 'with', 'spaces.']

The same logic applies to Pandas DataFrames and in general to any new variable that is created by a given package: they all come with a series of methods attached to them.

For example if we only want to display the fist 5 lines of the DataFrame, we can use the ```head``` method:

vaccine.head(5)

In [7]:
vaccine.head(5)

   country  ...                                     source_website
0  Albania  ...  https://shendetesia.gov.al/covid19-ministria-e...
1  Albania  ...  https://shendetesia.gov.al/covid19-ministria-e...
2  Albania  ...  https://shendetesia.gov.al/covid19-ministria-e...
3  Albania  ...  https://shendetesia.gov.al/covid19-ministria-e...
4  Albania  ...  https://shendetesia.gov.al/covid19-ministria-e...

[5 rows x 15 columns]

We will learn later how to extract statistics, but just as an example of functions that exsit, you can for example get a basic statistical description of a DataFrame using the ```describe``` method:

vaccine.describe()

In [8]:
vaccine.describe()

       total_vaccinations  ...  daily_vaccinations_per_million
count        2.393000e+03  ...                     3483.000000
mean         1.521028e+06  ...                     2279.315820
std          5.038410e+06  ...                     3788.432525
min          0.000000e+00  ...                        0.000000
25%          2.989300e+04  ...                      349.000000
50%          1.917820e+05  ...                     1039.000000
75%          7.689500e+05  ...                     1978.000000
max          6.128950e+07  ...                    30869.000000

[8 rows x 9 columns]

We see that in this particular case, the returned object is a DataFrame as well!

## Accessing columns

If we want to work with only a given column from a dataframe, we can extract it. Just like when we want to extract an element from a regular list, e.g. ```my_list[3]```, for Pandas we also use the square parenthesis (brackets) but this time with the name of the column:

```
some_column = vaccine['daily_vaccinations']
some_column
```

In [9]:
some_column = vaccine['daily_vaccinations']
some_column

0           NaN
1          64.0
2          64.0
3          63.0
4          66.0
         ...
3614    24418.0
3615    23033.0
3616    22012.0
3617    20649.0
3618    18891.0
Name: daily_vaccinations, Length: 3619, dtype: float64

As we have a single columns here, we are not dealing with a DataFrame anymore but with a Series:

type(some_column)

In [10]:
type(some_column)

pandas.core.series.Series

We won't explore much the Series object on its own in this course, but know that you can for example create a DataFrame from scratch by combining multiple Series.

## What is underlying Pandas

We see above that ```some_column``` is composed of and index (0, 1, 2 etc) and the corresponding values (NaN, 64.0, 64.0 etc.). If we want to do mathematics with those values, we don't really need the index and a list of numbers would be sufficient. We can obtain such a list by asking for the ```values``` of the series:

```actual_values = some_column.values
actual_values
```

In [11]:
actual_values = some_column.values
actual_values

array([   nan,    64.,    64., ..., 22012., 20649., 18891.])

We see that the output is not just a simple Python list. It is in fact called an ```array```. If we ask for the type of this object, we get:

type(actual_values)

In [12]:
type(actual_values)

numpy.ndarray

The lists of values contained in Pandas DataFrame are in fact Numpy arrays. A large part of the computing logic in Pandas is inspired from Numpy, therefore we now make a detour to Numpy before coming back to DataFrames.

## Exercise


1. In the Data folder on Ilias there is the data file 4ms_10 av_30 s_Absorbance_10-32-04-868.txt. Upload this file to a folder on your google drive. If you don't have a google account, make it now. Look at the file by clicking on it. Try to make sense of the data with the help of the metadata file also in the Ilias folder. 

2. Mount the file to this your notebook (example code below). The path and the file name must match the ones on your google drive, of course.

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')
#path = '/content/drive/MyDrive/Courses/DSF-DC....' # To be adapted

In [13]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/MyDrive/DataScienceFundamentals/Absorbance.txt' # To be adapted

Mounted at /content/drive

3. Study and play with the code below. Try to understand based on the API description (https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html). Hint: Use the header argument.

In [16]:
import pandas as pd
df = pd.read_csv(path, delimiter='\t', header=13)

4. Study this dataset a bit with the df.head(), df.info() and df.describe() methods. The available metadata is [here](https://docs.google.com/document/d/1L6m4OFiCKSHlHlr4_4TFKLKHcJfIkiMhHtD3tcsxpD8/edit?usp=sharing)

In [17]:
df.head()

                   Unnamed: 0     Unnamed: 1  ...  779.9194  780.0381
0  2018-10-25 10:32:04.789000  1540456324789  ... -0.039100 -0.035545
1  2018-10-25 10:32:04.878000  1540456324878  ... -0.040210 -0.038165
2  2018-10-25 10:32:04.962000  1540456324962  ... -0.038686 -0.036903
3  2018-10-25 10:32:05.046000  1540456325046  ... -0.038203 -0.036822
4  2018-10-25 10:32:05.129000  1540456325129  ... -0.038082 -0.035900

[5 rows x 3650 columns]

How big is the dataset? How many rows, how many columns, how space in the memory? The data are spectral lines from some chemistry experiment with some other information in the first four columns. We will come back to this dataset later.

5. Plot some columns.

In [ ]:
#df[5].hist()

6. Check out other pandas read methods here: https://pandas.pydata.org/docs/reference/io.html